name: Deploy package to pypi

on:
  push:
    branch:
      - main

jobs:
  build-and-deploy:
    strategy:
      python: ["3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.8", "3.9", "3.10"]
      fail-fast: false
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: {{ matrix.python }}
    
    - name: Install packaging dependencies
      run: pip install --upgrade pip setuptools wheel versioneer
    
    - name: Remove requirements.txt
      run: rm requirements.txt
    
    - name: Install dependencies
      run: pip install click slack_sdk
    
    - name: Packaging
      run: python setup.py bdist_wheel
